html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Open Sans", "Helvetica Neue";
  font-size: 20px;
  color: #FFF;
  background-color: gray;
  background-image: url(images/bg.png);
  background-size: cover;
  text-align: center;
}

p {
  margin: 0;
}

textarea {
  resize: none;
  width: 80%;
  height: 160px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  margin: 0;
  font-size: 40px;
}

.subtitle {
  margin-top: 0;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.text-smaller {
  font-size: 17px;
}

.text-small {
  font-size: 15px;
}

.text-smallest {
  font-size: 12px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.clickable {
  color: gray;
  display: inline;
  transition: color 0.5s, text-decoration 1s;
}

.clickable:hover {
  color: #FFF;
  cursor: pointer;
}

.wrapper {
/*
  min-width: 640px;
  min-height: 210px;
*/
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

.screen {
  display: none;
  width: 640px;
  padding: 20px 0 0;
}

.screen-main {
  display: inline-block;
}

.screen-game {
  width: 350px;
  padding: 20px;
}

.screen-achievements {
  width: 600px;
  padding: 20px 20px 0 20px;
}

.menu {
  height: 45px;
  margin-bottom: 4px;
}

.menu-option {
  display: inline-block;
  margin-left: 5px;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  border-radius: 5px;
  transition: transform 1s, font-size 1s, color 1s;
}

.menu-option:hover {
  cursor: pointer;
  color: gray;
  font-size: 23px;
  transform: rotate(7deg);
}

.menu-option:nth-child(even):hover {
  transform: rotate(-7deg);
}

.submenu {

}

.submenu-option {
  font-size: 14px;
  padding-left: 2px;
}

.table {
  height: 140px;
}

.betting-option {
  display: inline-block;
  border: 1px solid gray;
  margin: 2.5px 1px;
  padding: 2px;
  background: -moz-linear-gradient(left,green 0, green 50%, green 100%);
}

.betting-option:hover {
  cursor: pointer;
}

.hand {
  height: 80px;
}

.card {
  margin-left: 6px;
  width: 62px;
  height: 75px;
  background-image: url(images/card-front.png);
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  color: AliceBlue;
  transition: color 0.5s;
}

.card:disabled {
  color: gray;
}

.card-player:hover,
.card-active {
  font-size: 14px;
}

.card i {
  font-size: 40px;
}

.card-player:hover i,
.card-active i {
  font-size: 43px;
}

.stats-category {
  display: inline-block;
  height: 100%;
  padding: 0 6px;
}

.stats-category p {
  margin: 0;
  font-size: 15px;
  text-align: left;
}

.achievements-container {
  height: 250px;
  overflow: auto;
}

.achievement {
  text-align: left;
}

.achievement-locked {
  color: gray;
}

.achievement-unlocked {
  color: #FFF;
}

.achievement-icon {
  font-size: 56px;
  display: inline-block;
  width: 15%;
}

.achievement-details-left {
  display: inline-block;
  width: 55%;
}

.achievement-details-right {
  display: inline-block;
}

.unlockedachiv {
  display: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: transparent;
  background-image: url(images/achivements.png);
  background-size: cover;
  z-index: 99;
  padding: 8px;
  font-size: 14px;
  color: black;
}

.div_split {
    border: none;
    margin-top: 10px;
    margin-bottom: 7px;
    height: 2px;
    background: -webkit-gradient(linear,left top,right top,color-stop(0,rgba(52,152,219,0)),color-stop(50%,rgba(52,152,219,.75)),color-stop(100%,rgba(52,152,219,0)));
	background: -webkit-linear-gradient(left,rgba(52,152,219,0) 0,rgba(52,152,219,.75) 50%,rgba(52,152,219,0) 100%);
	background: -moz-linear-gradient(left,rgba(52,152,219,0) 0,rgba(52,152,219,.75) 50%,rgba(52,152,219,0) 100%);
	background: -ms-linear-gradient(left,rgba(52,152,219,0) 0,rgba(52,152,219,.75) 50%,rgba(52,152,219,0) 100%);
	background: -o-linear-gradient(left,rgba(52,152,219,0) 0,rgba(52,152,219,.75) 50%,rgba(52,152,219,0) 100%);
	background: linear-gradient(left,rgba(52,152,219,0) 0,rgba(52,152,219,.75) 50%,rgba(52,152,219,0) 100%)
}

.div_split-title {
  width: 94%;
  margin: 10px auto 28px auto;
}

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}
